{% extends _layout %}

{% use 'menu.html.twig' %}

{% block content %}

	<div class="container">

		<h1>
			Sub - Categorias
		</h1>
		<form action="{{base_url}}admin_subcategoria/save/" method="post">
			<div class="form-search">
				<label>
					Categoria
				</label>
				<select name="categoria" id="categoria" style="width:100%">

				</select>
			</div>
			<div class="form-search">
				<input type="hidden" name="id" id="id">
				<label>
					Nombre
				</label>
				<input type="text" name="nombre" id="nombre" style="width:100%">
			</div>
			<div class="form-search">
				<label>
					Descripcion
				</label>
				<textarea id="descripcion" name="descripcion" style="width:100%"></textarea>
			</div>
		</form>
		<div class="form-search">
			<label>
				Imagen
			</label>
			<input type="hidden" name="image_id" id="image_id">
			<form action="{{base_url}}admin_imagen/save/" method="post" enctype="multipart/form-data" id="form_file">
				<input type="file" id="imagen" name="userfile">
				 <div id="progress">
       				<div id="bar">
       				</div>
			        <div id="percent">
			        	0%
			        </div>
				</div>
				<div id="message">
				</div>
			</form>
		</div>
		<br>
		<div class="form-search">
			<input type="submit" name="enviar" class="btn" id="enviar" value="Guardar">
			<input type="reset" name="cancelar" class="btn"  id="cancelar" value="Cancelar">
		</div>


		<div style="width:100%;" id="grilla" >
		</div>

	</div>

{% endblock %}

{% block script%}
	<script type="text/javascript" src="{{base_url}}public/lib/jquery.form/jquery.form.js"></script>
	<script type="text/javascript" src="{{base_url}}public/js/admin/subcategorias.js"></script>
{% endblock %}